<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" crossorigin="anonymous">

    <title>{% block title %}Página de Inicio{% endblock %}</title>
    <style>
        body {
            background-image: url('../static/img/fondo_tpv.jpg'); 
            background-size: cover; 
            background-position: center; /* Centra la imagen en el cuerpo */
        }
    </style>
</head>
<body>
    {% extends "navbar.html" %}

    {% block content %}
        <div class="container mt-5">
            <div class="row">
                <!-- Nueva Artículo -->
                <div class="col-md-6 mb-4">
                    <div class="card h-100">
                        <div class="card-body">
                            <h5 class="card-title">Crear Articulos</h5>
                            <p class="card-text">Haz clic para crear nuevos artículos.</p>
                            <a href="{{ url_for('views.crear') }}" class="btn btn-primary">Ir a Crear</a>
                        </div>
                    </div>
                </div>

                <!-- Artículos -->
                <div class="col-md-6 mb-4">
                    <div class="card h-100">
                        <div class="card-body">
                            <h5 class="card-title">Artículos</h5>
                            <p class="card-text">Consulta la lista de artículos existentes.</p>
                            <a href="{{ url_for('articulos') }}" class="btn btn-primary">Ir a Artículos</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endblock %}

    <!-- Scripts de Bootstrap y jQuery -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>
